#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: none;
  padding: 0 2rem;
}

.dark {
  background: #16171d;
  color: #ffffffe4;
}

body {
  display: flex;
  place-items: center;
  text-align: left;
  background-color: #efefef;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: IBM Plex Mono, monospace;
}

