#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}


body {
  display: flex;
  place-items: center;
  text-align: left;
  background-color: #efefef;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: IBM Plex Mono, monospace;
}


button {
  background: none;
  border: none;
  border: 1px solid rgba(209, 21, 21, 0.3);
  background-color: #fff;
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
